<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"order" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="social-icons">
      <a href="https://twitter.com/{{ site.social.twitter }}"
        class="social fa fa-twitter" title="Twitter" target="_blank"></a>

      <a href="https://linkedin.com/in/{{ site.social.linkedin }}"
        class="social fa fa-linkedin-square" title="Linkedin" target="_blank"></a>

      <a href="https://github.com/{{ site.social.github }}"
        class="social fa fa-github" title="Github" target="_blank"></a>

      <a href="mailto:{{ site.author.email }}" class="social fa fa-envelope"
        title="Email"></a>

      <a href="/feed.xml" class="social fa fa-rss" title="RSS feed"
        target="_blank"></a>
    </div>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
